<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995840492478-iiagaat76rpd2gt45b40eoefmesvres6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995840492478-iiagaat76rpd2gt45b40eoefmesvres6</string>
	<key>API_KEY</key>
	<string>AIzaSyDUZxQGJ-T5OwVF-p0R_RrHqLb3nLR6lvY</string>
	<key>GCM_SENDER_ID</key>
	<string>995840492478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamed.maps</string>
	<key>PROJECT_ID</key>
	<string>maps-97c6a</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-97c6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995840492478:ios:976211757b2e383f44afef</string>
</dict>
</plist>